<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.2/coffee-script.min.js"></script>
    <script type="text/coffeescript" src="app.coffee"></script>
</head>
<body ng-controller="Admin">
    <ul>
        <li ng-repeat="page in pages">
            {{page.id}}
        </li>
    </ul>
    <form name="form">
        <p>ID: <input ng-model="page.id" required /></p>
        <p>Name: <input ng-model="page.name" required /></p>
        <p>Content: <input ng-model="page.content"/></p>
        <p>Template: <input ng-model="page.template"/></p>
        <p>Image: <input type="file" id="image" name="image" onchange="file_obj = this.files[0]"/></p>
        <button ng-click="put()" ng-disabled="form.$invalid">Put</button>
        <button ng-click="delete()">Delete</button>
        <button ng-click="get()">Get</button>
    </form>
</body>
</html>