<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.2/coffee-script.min.js"></script>
    <script type="text/coffeescript" src="app.coffee"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body ng-controller="Admin">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="brand">Create page</div> <!--TODO fix hover-->
            <ul class="nav">
                <li ng-repeat="t in templates">
                    <a href="" ng-click="createPage(t.id)">
                        <i class="icon-white" ng-class="t.icon"></i> {{t.title}}
                    </a>
                </li>
                <!--<li class="divider-vertical"></li>-->
            </ul>
            <ul class="nav pull-right">
                <li>
                    <a href="{{logout_url}}">
                        <i class="icon-share icon-white"></i> Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <ul>
        <li ng-repeat="page in pages">
            {{page.id}}
        </li>
    </ul>
    <form name="form" class="form-horizontal" novalidate accept-charset="utf-8">
        <div class="control-group">
            <label for="page_id" class="control-label">
                ID
            </label>
            <div class="controls">
                <input id="page_id" ng-model="page.id" required />
                <span class="help-inline">Unique identifier of the page</span>
            </div>
        </div>
        <div class="control-group">
            <label for="page_name" class="control-label">
                Name
            </label>
            <div class="controls">
                <input id="page_name" ng-model="page.name" required />
            </div>
        </div>
        <div class="control-group">
            <label for="page_content" class="control-label">
                Content
            </label>
            <div class="controls">
                <textarea id="page_content" ng-model="page.content" rows="10" ></textarea>
            </div>
        </div>
        <div class="control-group">
            <label for="page_file" class="control-label">
                File
            </label>
            <div class="controls">
                <input id="page_file" type="file" onchange="file_obj = this.files[0]"/>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" ng-click="put()" ng-disabled="form.$invalid">Put</button>
            <button class="btn btn-primary" ng-click="delete()">Delete</button>
            <button class="btn btn-primary" ng-click="get()">Get</button>
        </div>
    </form>
</body>
</html>