@ extends "master.html"

@ block head
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.2/coffee-script.min.js"></script>
<script type="text/coffeescript" src="app.coffee"></script>
{{ super() }}
@ endblock

@ block body
<body ng-controller="Admin">
    {{ super() }}
</body>
@ endblock

@ block menu_items
<ul class="nav">
    @ for name, id in menu
    <li class="divider-vertical"></li>
    <li jx-drag="drag" jx-drag-end="dragend" jx-drop="drop" jx-drag-data="{{ id }}" jx-drop-data="{{ id }}">
        <a href="/{{ id }}">{{ name }}</a>
    </li>
    @ endfor
    <li class="divider-vertical"></li>
    <li class="dropdown" ng-class="{ open: open }">
        <a href="#" ng-click="open = !open">
            <i class="icon-white icon-plus-sign"></i>
        </a>
        @ set items = [('post', 'New text post', 'icon-pencil'),
                       ('post_coll', 'New post collection', 'icon-th-list'),
                       ('img_coll', 'New image collection', 'icon-th-large')]
        <ul class="dropdown-menu">
            @ for type, name, icon in items:
            <li>
                <a href="/_add?type={{ type }}&order={{ menu | length }}">
                    <i class="{{ icon }}"></i> {{ name }}
                </a>
            </li>
            @ endfor
        </ul>
    </li>
</ul>
<ul class="nav pull-right">
    <li>
        <a href="{{ logout_url() }}">
            <i class="icon-share icon-white"></i> Log Out
        </a>
    </li>
</ul>
@ endblock

@ block main
    @ block edit
    @ endblock
@ endblock