@ macro menu_add(parent, ord)
<li class="divider-vertical"></li>
<li class="dropdown" ng-class="{ open: open.p{{ ord }} }">
    <a href="#" ng-click="open = { p{{ord}}: !open.p{{ ord }} }">
        <i class="icon-white icon-plus-sign"></i>
    </a>
    @ set items = [('post', 'New text post', 'icon-pencil'),
                   ('post_coll', 'New post collection', 'icon-th-list'),
                   ('img_coll', 'New image collection', 'icon-th-large')]
    <ul class="dropdown-menu">
        @ for type, name, icon in items:
            <li>
                <a href="/_add?type={{ type }}&order={{ ord }}">
                    <i class="{{ icon }}"></i> {{ name }}
                </a>
            </li>
        @ endfor
    </ul>
</li>
@ endmacro

@ macro menu_page(id, name)
<li class="divider-vertical"></li>
<li>
    <a href="/{{ id }}">{{ name }}</a>
</li>
@ endmacro

@ macro meta(key, val)
    @ if val:
        <meta name="{{ key }}" content="{{ val }}">
    @ endif
@ endmacro