<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <title>{{ page.name }}</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    @ if page.description
    <meta name="description" content="{{page.description}}">
    @ endif
    @ if page.keywords
    <meta name="keywords" content="{{page.keywords}}">
    @ endif
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <div class="brand">{{ site_name }}</div> <!--TODO fix hover-->
        <ul class="nav">
            @ for name, id in menu
            <li class="divider-vertical"></li>
            <li>
                <a href="/{{id}}">
                    {{name}}
                </a>
            </li>
            @ endfor
        </ul>
    </div>
</div>
{{page.content_html}}
</body>
</html>
{% endautoescape %}