@ extends master

@ block content
    {{ page.content_html }}
@ endblock

@ block edit
<form class="well" accept-charset="utf-8" method="post" action="/_save">
    <input type="hidden" name="content_html" id="content_html" />
    @ autoescape true
    <input type="hidden" name="page_type" value="{{ page.page_type }}" />
    <fieldset>
        <div class="row-fluid">
            <div class="span4">
                <label>
                    <input placeholder="Page name" name="name" required
                           class="input-block-level" value="{{ page.name or '' }}"/>
                </label>
                <label>
                    @ if id:
                    <input type="hidden" name="id"
                           value="{{ id }}"/>
                    <input value="{{ id }}"
                           disabled class="input-block-level"
                           title="You cannot change page id after creation"/>
                    @ else:
                    <input placeholder="Page unique identifier" name="id"
                           required class="input-block-level"
                           value="{{ id or '' }}"/>
                    @ endif
                </label>
                <label>
                    <input placeholder="Comma separated keywords"
                           name="keywords" class="input-block-level"
                           value="{{ page.keywords or '' }}"/>
                </label>
                <label>
                    <textarea placeholder="A page's description meta tag gives Google and other search engines a summary of what the page is about"
                              name="description" class="input-block-level"
                              rows="3">{{ page.description or '' }}</textarea>
                </label>
            </div>
            <div class="span8">
                <label>
                    <textarea placeholder="Page Content" ng-model="content"
                              ng-init="content = '{{ (page.content or '')|q }}'"
                              name="content" class="input-block-level"
                              rows="10"></textarea>
                </label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="btn-group pull-right">
                    @ if id:
                    <button type="submit" formaction="/_delete/{{ id }}" class="btn btn-danger">Delete</button>
                    @ endif
                    <button type="submit" formaction="/_save" ng-click="add_markdown()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </fieldset>
    @ endautoescape
</form>
<div ng-bind-html-unsafe="converter.makeHtml(content || '')">
</div>
@ endblock